<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Página</title>
    </head>
    <body>
        <div class="formulario">
            <h1>Bienvenido/a</h1>
            <form action="confirmar.php" method="post">
                <div class="user">
                    <label>Uusuario</label>
                    <input type="text" name="user" id="user">
                </div>
                <div class="user">
                <label>Contraseña</label>
                <input type="password" name="password" id="password">
                </div>
                <button type="submit">Ingresar</button>
                <br>
                <br>
                <a href="registro.html">Soy nuevo usuario</a>
            </form>
        </div>
    </body>
</html>